// $include-html-classes: false should work as of Foundation 4, but it doesn't. Each module must be set. Ugh.
$include-html-grid-classes: false;
$include-html-type-classes: false;
$include-html-accordion-classes: false;
$include-html-alert-classes: false;
$include-html-block-grid-classes: false;
$include-html-button-classes: false;
$include-html-form-classes: false;
$include-html-inline-list-classes: false;
$include-html-label-classes: false;
$include-html-magellan-classes: false;
$include-pagination-classes: false;
$include-html-panel-classes: false;
$include-html-range-slider-classes: false;
$include-html-reveal-classes: false;
$include-html-table-classes: false;
$include-html-tabs-classes: false;
$include-html-tooltip-classes: false;
$include-html-top-bar-classes: false;
$include-html-visibility-classes: false;
$include-html-nav-classes: false;
$include-html-dropdown-classes: false;
$include-html-joyride-classes: false;
$include-html-off-canvas-classes: false;
$include-html-media-classes: false;
$include-html-orbit-classes: false;
$include-html-clearing-classes: false;

// Keystrokes and pricing tables
$include-html-keystroke-classes: true;
$include-html-pricing-classes: true;

@import "settings";

@import
   "foundation/components/keystrokes", // special highlighting for keyboard shortcuts
   "foundation/components/pricing-tables"; // price listings
