// WELCOME ABOARD PURPLE LINE RUN 1.0.0
//  __   __   __    ___ ___  |  ,----\
// |__| |__| |__|  | O | O | |  ||____\
//                 |___|___| |         )
//___________________________|________/

/* BREAKPOINTS
 * 1200px
 * 880px
 * 767px
 * 728px
 * */


/* Settings
================================================== */
@import "settings";


/* Foundation
================================================== */
// Basic structure/styling
@import "foundation/components/block-grid",
		"foundation/components/grid",
		"foundation/components/inline-lists",
		"foundation/components/type", // typography
		"foundation/components/visibility"; // classes to display elements based on screen size
// Content organization
@import "foundation/components/labels",
		"foundation/components/reveal", // modals
		"foundation/components/alert-boxes",
		"foundation/components/tables",
		"foundation/components/panels", // content wells
		"foundation/components/tooltips";
// Navigation
@import "foundation/components/top-bar", // navbar, requires foundation.topbar.js
		"foundation/components/magellan", // sticky nav
		"foundation/components/sub-nav",
		"foundation/components/tabs",
		"foundation/components/accordion",
		"foundation/components/breadcrumbs";
// Inputs
@import "foundation/components/buttons",
		"foundation/components/button-groups",
		"foundation/components/progress-bars",
		"foundation/components/dropdown",
		"foundation/components/forms",
		"foundation/components/split-buttons", // buttons with dropdowns only on part of the button
		"foundation/components/dropdown-buttons"; // buttons with dropdowns
// Media
@import "foundation/components/thumbs"; // image anchor tags

/* Purpleline Components
================================================== */
@import "purpleline_components/colors", 		// Knight Lab Colors
		"purpleline_components/typography", 	// Typography
		"purpleline_components/buttons", 		// Buttons
		"purpleline_components/tables", 		// Tables
		"purpleline_components/subnav", 		// Sub Nav
		"purpleline_components/tabs", 			// Tabs
		"purpleline_components/top-bar", 		// Top Bar
		"purpleline_components/forms", 			// Forms
		"purpleline_components/accordion", 		// Accordion
		"purpleline_components/magellean", 		// Magellean
		"purpleline_components/thumbnail", 		// Magellean
		"purpleline_components/footer"; 		// Footer



// Knight Lab utilities
.row {
	@media screen and (max-width: 1200px) {
		//override Foundation's default row width of 100% -- it is too wide for small screens
		// width: 95%;
	}
}

.row.full-width {
	// using $behavior: nest removes the outer margins of columns
	@include grid-row($behavior: nest);
	margin: ($column-gutter/2);
}

hr {
	margin: 22px 0;
	border: none;
	border-top: 4px double $smoke;
}


.editors-note {
	background-color: $white-smoke;
	border-top: 4px solid $orange;
	color: $charcoal;
	font-family: $font-family-sans-serif;
	line-height: 1.5em;
	padding: 18px 24px;
	margin: 1.4em 0 1.6em;
	&:before {
		padding-right: 3px;
		color: $orange;
		content: "Editor's Note: ";
	}
}

.th {
	box-shadow: $default-shadow;
	-webkit-box-shadow: $default-shadow;
	-moz-box-shadow: $default-shadow;
}


.polaroid {
	padding: 4px;
	background-color: $white;
	border: 1px solid $gainsboro;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

// Hide weird little arrows on dropdown menus
.f-dropdown:before,
.f-dropdown:after {
	display: none;
}


