// WELCOME ABOARD PURPLE LINE RUN 1.0.0
//  __   __   __    ___ ___  |  ,----\
// |__| |__| |__|  | O | O | |  ||____\
//                 |___|___| |         )
//___________________________|________/

/* BREAKPOINTS
 * 1200px
 * 880px
 * 767px
 * 728px
 * */

@import "settings";
// Basic structure/styling
@import "foundation/components/block-grid",
		"foundation/components/grid",
		"foundation/components/inline-lists",
		"foundation/components/type", // typography
		"foundation/components/visibility"; // classes to display elements based on screen size
// Content organization
@import "foundation/components/labels",
		"foundation/components/reveal", // modals
		"foundation/components/alert-boxes",
		"foundation/components/tables",
		"foundation/components/panels", // content wells
		"foundation/components/tooltips";
// Navigation
@import "foundation/components/top-bar", // navbar, requires foundation.topbar.js
		"foundation/components/magellan", // sticky nav
		"foundation/components/sub-nav",
		"foundation/components/tabs",
		"foundation/components/accordion",
		"foundation/components/breadcrumbs";
// Inputs
@import "foundation/components/buttons",
		"foundation/components/button-groups",
		"foundation/components/progress-bars",
		"foundation/components/dropdown",
		"foundation/components/forms",
		"foundation/components/split-buttons", // buttons with dropdowns only on part of the button
		"foundation/components/dropdown-buttons"; // buttons with dropdowns
// Media
@import "foundation/components/thumbs"; // image anchor tags

// Knight Lab colors
.lightest-orange-bg {
	background: $lighter-orange;
}

.lightest-orange-text {
	color: $lighter-orange;
}

.light-orange-bg {
	background: $light-orange;
}

.light-orange-text {
	color: $light-orange;
}

.orange-bg {
	background: $orange;
}

.orange-text {
	color: $orange;
}

.dark-orange-bg {
	background: $dark-orange;
}

.dark-orange-text {
	color: $dark-orange;
}

.yellow-bg {
	background: $light-yellow;
}

.yellow-text {
	color: $light-green;
}

.light-blue-bg {
	background: $light-blue;
}

.light-blue-text {
	color: $light-blue;
}

.medium-blue-bg {
	background: $medium-blue;
}

.medium-blue-text {
	color: $medium-blue;
}

.dark-blue-bg {
	background: $dark-blue;
}

.dark-blue-text {
	color: $dark-blue;
}


// Knight Lab typography
h1.post-title {
	font-style: normal;
	line-height: 1.1;
}

.logo-mark {
	font-size: 60px;
	white-space: nowrap;
	line-height: 1em;
	margin-bottom: 0px;
	&.xl,
	&.xxl {
		font-size: rem-calc(65);
		margin-top: 5px;
	}
	& + h2.intro {
		margin-top: 0px;
	}
	// TODO: Adjust this min-width as needed
	@media all and (min-width: 767px) {
		&.xl {
			font-size: rem-calc(90);
			margin-top: 35px;
		}
		&.xxl {
			font-size: rem-calc(120);
			margin-top: 35px;
		}
	}
	&.bg-white span:before {
		border-color: #0f9bd1 #fff;
	}
	span {
		background: none repeat scroll 0 0 $light-blue;
		border-radius: 3px 0px 3px 3px;
		color: #FFFFFF;
		font-size: 0.5em;
		line-height: 0.5em;
		margin: 5px 6px 0;
		overflow: hidden;
		padding: 0.35em 0.45em 0.2em;
		position: relative;
		vertical-align: text-top;
		display: inline-block;
		&:before {
			border-color: $light-blue #f3f3f3;
			border-style: solid;
			border-width: 0 16px 16px 0;
			content: "";
			position: absolute;
			right: 0;
			top: -1px;
		}
	}
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		span {
			padding: 0.35em .47em .3em .36em;
		}
	}
}

p {
	font-family: inherit;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	text-rendering: optimizeLegibility;
	&.lead {
		font-size: 1.4rem;
		line-height: 1.6;
	}
}

p aside {
	font-size: 0.875rem;
	font-style: italic;
	line-height: 1.35;
}

a {
	transition: color 0.3s ease-in-out;
}

ul {
	list-style-type: square;
	&.contact-icons {
		list-style-type: none;
		margin-left: 0;
		margin-bottom: 0;
		display: table;
		content: "";
		clear: both;
		li {
			display: inline-block;
			float: left;
			padding-top: 7px;
			min-height: 33px;
			padding: 8px 12px 0 0px;
			margin: 0 -1px;
			&:first-child {
				padding-left: 12px;
			}
			a,
			a:link,
			a:visited {
				color: $charcoal;
			}
			a:hover,
			a:active {
				color: $light-blue;
			}
			i {
				width: rem-calc(20);
				text-align: center;
			}
		}
	}
	li {
		line-height: 22px;
		padding: 2px 0 6px;
	}
}

blockquote {
	padding: 1em 1em 0;
	margin: 0 0 22px;
	overflow: auto;
	font-family: "Turnip RE", Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	background-color: $ghost;
	p {
		font-size: rem-calc(17.5);
		line-height: rem-calc(26.5);
		color: $charcoal;
		&.source {
			text-align: right;
		}
	}
}

.drop-hed,
.panel .drop-hed {
	color: $dark-orange;
	font-family: $font-family-sans-serif;
	font-size: rem-calc(18);
	text-transform: uppercase;
	a {
		&:link,
		&:visited {
			color: $dark-orange;
		}
		&:hover,
		&:active {
			color: $light-orange;
		}
	}
}

.byline,
.panel .byline {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	color: $jumbo;
}

@media screen and (min-width: 728px) {
	*[data-pullquote]:before {
		border-bottom: medium double $gainsboro;
		border-top: medium double $gainsboro;
		color: $orange;
		content: attr(data-pullquote);
		float: right;
		font-family: $font-family-display-serif;
		font-size: rem-calc(25);
		font-style: italic;
		line-height: 1.3;
		margin: 7px 0 .5em 35px;
		padding: 22px 1px 20px;
		width: 34%;
	}
}

// Knight Lab utilities
.row {
	@media screen and (max-width: 1200px) {
		//override Foundation's default row width of 100% -- it is too wide for small screens
		width: 95%;
	}
}

.row.full-width {
	// using $behavior: nest removes the outer margins of columns
	@include grid-row($behavior: nest);
	margin: ($column-gutter/2);
}

hr {
	margin: 22px 0;
	border: none;
	border-top: 4px double $smoke;
}

.editors-note {
	background-color: $white-smoke;
	border-top: 4px solid $orange;
	color: $charcoal;
	font-family: $font-family-sans-serif;
	line-height: 1.5em;
	padding: 18px 24px;
	margin: 1.4em 0 1.6em;
	&:before {
		padding-right: 3px;
		color: $orange;
		content: "Editor's Note: ";
	}
}

.th {
	box-shadow: $default-shadow;
	-webkit-box-shadow: $default-shadow;
	-moz-box-shadow: $default-shadow;
}
.thumbnail {
	display: block;
	padding: 4px;
	line-height: 22px;
	border: 1px solid $gainsboro;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.polaroid {
	padding: 4px;
	background-color: $white;
	border: 1px solid $gainsboro;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

// Hide weird little arrows on dropdown menus
.f-dropdown:before,
.f-dropdown:after {
	display: none;
}

// Knight Lab navigation
.top-bar {
	color: $jet;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
	background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
	background-image: -o-linear-gradient(top, #fff, #f2f2f2);
	background-image: linear-gradient(to bottom, #fff, #f2f2f2);
	background-repeat: repeat-x;
	//filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	border: 1px solid #d4d4d4;
	.row {
		max-width: rem-calc(1200);
	}
	.name {
		margin-top: -1px;
	} // to adjust for border bottom
	ul li {
		padding: 0;
	}
}

.sub-nav {
	clear: both;
	background: $white-smoke;
	padding: 10px 0;
}

.top-bar-section {
	li {
		padding: 0;
		&.logo:hover > a:not(.button):hover {
			background: transparent;
			background-image: linear-gradient(to bottom, #fff, #f2f2f2);
		}
		&.active:not(.has-form) {
			a:not(.button) {
				color: $white;
				&:hover,
				&:active,
				&:focus {
					color: $smoke;
				}
			}
		}
		&:not(.has-form) a:not(.button) {
			background-color: $ghost;
			background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
			background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
			background-image: -o-linear-gradient(top, #fff, #f2f2f2);
			background-image: linear-gradient(to bottom, #fff, #f2f2f2);
			background-repeat: repeat-x;
			border-bottom: 1px solid #d4d4d4;
			height: rem-calc(49); // 1px less than $topbar-height in _settings.scss to adjust for border bottom
		}
	}
}

// Knight Lab footer

/* Footer */

footer,
#footer {
	padding: 10px 80px 0;
	font-size: 14px;
	background-color: #F3F3F3;
	border-bottom: 12px solid #520063;
	font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
	a,
	a:link,
	a:visited {
		color: #666;
		text-decoration: underline;
		border: none;
		display: inline;
	}
	.col-940 {
		display: none;
	}
	ul {
		list-style: none outside none;
		margin: 0;
		&.social {
			text-align: center;
			padding: 10px 0;
			/* override for old Bootstrap blueline */
			margin: 0 auto;
			float: none;
			width: 100%;
			li {
				float: none;
				display: inline;
				font-size: 18px;
				line-height: 1.4em;
				padding-bottom: 3px;
				margin: 0 10px;
				color: $jet;
				a:hover {
					text-decoration: none;
					opacity: .9;
				}
			}
			a {
				border: none;
				text-decoration: none;
			}
		}
		&.logos {
			margin-top: 25px;
			border-left: 1px solid #CCCCCC;
			li {
				display: block;
				float: right;
				&:hover {
					opacity: .85;
				}
				a {
					background: url("images/footer-logosheet.png") no-repeat scroll center top transparent;
					display: block;
					text-indent: -9999px;
					&.northwestern {
						background-position: -42px -106px;
						height: 174px;
						margin-bottom: 17px;
						margin-left: 30px;
						width: 290px;
					}
					&.knightfoundation {
						background-position: 22px -283px;
						height: 83px;
						margin-bottom: 23px;
						margin-top: 14px;
						width: 383px;
					}
					&.medill {
						background-position: -221px -385px;
						height: 52px;
						margin-bottom: 20px;
						margin-left: 11px;
						width: 111px;
					}
					&.mccormick {
						background-position: -19px -385px;
						float: right;
						height: 52px;
						margin-bottom: 20px;
						width: 185px;
					}
					&.mccormickfound {
						background-position: -6px -462px;
						height: 68px;
						margin-bottom: 51px;
						margin-right: 34px;
						margin-top: 23px;
						width: 218px;
					}
					&.nsf {
						background-position: right -448px;
						float: right;
						height: 84px;
						margin: 0;
						width: 131px;
					}
				}
			}
		}
	}
	.contact,
	.copyright {
		clear: both;
		color: #a8a4a3;
		font-size: 12px;
		padding-bottom: 20px;
		padding-top: 70px;
		text-align: center;
	}
	.contact a {
		color: #a8a4a3;
		text-decoration: none;
	}
	address,
	address span.address,
	address span.tel {
		padding-left: 0;
		display: inline;
		width: auto;
		float: none;
		font-size: 12px;
		color: #a8a4a3;
	}
}

#knightlab-logo-column {
	width: 25%;
	float: left;
	margin-right: 30px;
}

#knightlab-description {
	width: 65%;
	float: left;
	border-left: solid 1px #d0d0d0;
	padding-left: 20px;
}

#footer-outer {
	border-top: 4px solid #474748;
	background-image: linear-gradient(top, rgb(50, 33, 63) 14%, rgb(83, 0, 99) 66%, rgb(83, 0, 99) 44%);
	background-image: -o-linear-gradient(top, rgb(50, 33, 63) 14%, rgb(83, 0, 99) 66%, rgb(83, 0, 99) 44%);
	background-image: -moz-linear-gradient(top, rgb(50, 33, 63) 14%, rgb(83, 0, 99) 66%, rgb(83, 0, 99) 44%);
	background-image: -webkit-linear-gradient(top, rgb(50, 33, 63) 14%, rgb(83, 0, 99) 66%, rgb(83, 0, 99) 44%);
	background-image: -ms-linear-gradient(top, rgb(50, 33, 63) 14%, rgb(83, 0, 99) 66%, rgb(83, 0, 99) 44%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.14, rgb(50, 33, 63)), color-stop(0.66, rgb(83, 0, 99)), color-stop(0.44, rgb(83, 0, 99)));
	height: 14px;
}

.ie9 #footer-outer {
	background-image: none;
	background-color: #530063;
}

.about-knightlab {
	max-width: 840px;
	margin: auto;
	padding-top: 60px;
	@media (max-width: 767px) {
		padding-top: 30px;
	}
}

@media (max-width: 767px) {
	footer {
		padding: 10px 30px;
	}
	footer p {
		font-size: 12px;
	}
	#knightlab-logo-column,
	#knightlab-description {
		width: 100%;
		float: none;
		text-align: center;
	}
	#knightlab-logo-column img {
		max-width: 100px;
		margin: auto;
	}
	#knightlab-description {
		border-left: 0;
		text-align: left;
	}
	address {
		display: none;
	}
	footer ul.contact-icons {
		margin: 10px auto;
	}
	footer .contact {
		padding-top: 20px;
	}
}

// Blueline overrides components/_sub_nav.scss
.sub-nav dt,
.sub-nav dd,
.sub-nav li {
	color: $jet;
	font-size: 0.8125rem;
}

// Blueline overrides of components/_tabs.scss
.tabs {
	li {
		padding: 0;
		margin-right: 10px;
		&.active {
			border-left: 1px solid $base;
			border-top: 1px solid $base;
			border-right: 1px solid $base;
		}
	}
}

.tabs-content {
	border-top: 1px solid $base;
	margin-top: -1px;
}

// Blueline overrides of components/_type.scss
h1 {
	font-style: italic;
	margin: rem-calc(11) 0;
}

h2.intro {
	color: $orange;
	font-family: $font-family-sans-serif;
}

h1,
h2,
h3 {
	font-family: $primary-header-font-family;
	line-height: rem-calc(44);
}

h4,
h5,
h6 {
	font-family: $secondary-header-font-family;
	font-weight: bold;
	line-height: rem-calc(22);
}

h2,
h3,
h4,
h5,
h6 {
	font-style: normal;
	margin: rem-calc(11) 0;
}

h6 {
	text-transform: uppercase;
}

// Blueline overrides of components/_buttons.scss
button,
.button {
	@include button($radius: true);
	line-height: inherit;
	border-width: 1px;
	border-style: solid;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	&:focus {
		outline: none;
	}
	&:hover,
	&:active,
	&:focus {
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) inset, 0pt -10px 10pt rgba(0, 0, 0, 0.075) inset;
		span {
			color: #fff;
			text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
		}
	}
	&.success,
	&.alert,
	&.info {
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	}
	&.inverse {
		@include button($radius: true, $bg: $white, $bg-hover: $medium-blue, $border-color: $base);
		border-width: 1px;
		line-height: inherit;
		&.disabled:hover {
			background-color: $white;
		}
	}
	&.warning span {
		color: $oil;
	}
	&.warning:hover span {
		text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.6);
	}
	&.disabled,
	&.disabled:hover {
		text-shadow: none;
		box-shadow: none;
		border-color: transparent !important;
		span {
			color: $oil;
			text-shadow: none;
		}
	}
}

// PurpleLine overrides of components/_tables.scss
table {
	font-family: $font-family-sans-serif;
}

table code {
	font-family: $font-family-monospace;
	padding: 0;
	background: transparent;
	border: none;
	color: $orange;
}

// Blueline overrides of components/_forms.scss
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
	border-radius: $global-radius;
}

label,
.prefix,
.postfix {
	font-family: $font-family-sans-serif;
}

.label {
	padding: 3px 5px 2px;
	&.warning {
		@include label-style($oil);
	}
}

.collapse {
	.postfix.button,
	.postfix button {
		border-radius: 0 $global-radius $global-radius 0;
		box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
	}
	.prefix.button,
	.prefix button {
		border-radius: 0 $global-radius $global-radius 0;
		box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
	}
}

// Blueline overrides of components/_accordion.scss
.accordion {
	@include accordion-navigation ($bg: $white-smoke);
	li {
		border: 1px solid $gainsboro;
		border-radius: $global-radius;
		margin-top: $global-radius;
		a:before {
			content: "\f067 \0000a0\0000a0";
			font-size: .7em;
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			color: #ca4d1d;
		}
		&.active a:before {
			content: "\f068 \0000a0\0000a0";
		}
	}
}

// Blueline overrides of components/_magellean.scss
[data-magellan-expedition],
[data-magellan-expedition-clone] {
	padding: 0;
}

[data-magellan-expedition] + .row,
[data-magellan-expedition-clone] + .row {
	margin-top: 50px;
}
