input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
	border-radius: $global-radius;
}

label,
.prefix,
.postfix {
	font-family: $font-family-sans-serif;
}

.label {
	padding: 3px 5px 2px;
	&.warning {
		@include label-style($oil);
	}
}

.collapse {
	.postfix.button,
	.postfix button {
		border-radius: 0 $global-radius $global-radius 0;
		box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
	}
	.prefix.button,
	.prefix button {
		border-radius: 0 $global-radius $global-radius 0;
		box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
	}
}