/*$button-border-width: 3px;*/
/*$button-border-style: solid;*/
/* line 3, ../scss/styleguide.scss */
#change-view dd {
  cursor: pointer;
}

/* line 5, ../scss/styleguide.scss */
#style-guide {
  transition: width 0.8s;
  width: auto;
}
/* line 8, ../scss/styleguide.scss */
#style-guide.small-view {
  width: 380px;
}
/* line 9, ../scss/styleguide.scss */
#style-guide.medium-view {
  width: 680px;
}
/* line 10, ../scss/styleguide.scss */
#style-guide.large-view {
  width: 1024px;
}
/* line 11, ../scss/styleguide.scss */
#style-guide.auto-view {
  width: auto;
}
/* line 12, ../scss/styleguide.scss */
#style-guide .panel {
  padding-bottom: 0;
}
/* line 13, ../scss/styleguide.scss */
#style-guide section {
  margin: 3.75rem 0;
  clear: both;
}

/* line 16, ../scss/styleguide.scss */
.side-nav {
  background: #EEEEEE;
  padding: 1.875rem;
}

/* line 18, ../scss/styleguide.scss */
h6.label {
  display: block;
  margin-left: -20px;
  margin-right: -20px;
  text-align: left;
  background-color: #eae34a;
}

/* line 26, ../scss/styleguide.scss */
.panel {
  background-color: #F9F9F9;
  border-color: #EEEEEE;
}

/* line 27, ../scss/styleguide.scss */
.panel.white {
  background-color: #FFF;
}

/* line 28, ../scss/styleguide.scss */
.panel > h6.label:first-child {
  margin-top: -20px;
}

/* line 29, ../scss/styleguide.scss */
.panel pre {
  margin: -21px;
}

/* line 32, ../scss/styleguide.scss */
.panel .paint-chip:last-child {
  margin-bottom: 10px;
}

/* line 34, ../scss/styleguide.scss */
.paint-chip {
  width: 24.5%;
  height: 160px;
  display: inline-block;
  position: relative;
  margin: 10px 0;
  border: 1px solid #EEEEEE;
}
/* line 42, ../scss/styleguide.scss */
.paint-chip .color-deets {
  padding: 0 5px;
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #EEEEEE;
  border-top: 1px solid #DDDDDD;
}
/* line 51, ../scss/styleguide.scss */
.paint-chip .color-deets p {
  margin: 2px 0;
  font-size: 0.75rem;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

/* line 54, ../scss/styleguide.scss */
.fa-external-link {
  font-size: 70%;
  vertical-align: super;
}

/* line 58, ../scss/styleguide.scss */
i.fa-link {
  color: #ce4d28;
}

/* line 62, ../scss/styleguide.scss */
label[for="code-snippet"] {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}
/* line 66, ../scss/styleguide.scss */
label[for="code-snippet"] i {
  font-size: 150%;
  position: absolute;
  left: 0;
  top: 2px;
  /*font-size: 150%;*/
  /*color: white;*/
  /*background-color: $orange;*/
  /*padding: 5px;*/
}

/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
/* line 84, ../scss/styleguide.scss */
.hljs-comment {
  color: #969896;
}

/* Tomorrow Red */
/* line 89, ../scss/styleguide.scss */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #cc6666;
}

/* Tomorrow Orange */
/* line 105, ../scss/styleguide.scss */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #de935f;
}

/* Tomorrow Yellow */
/* line 116, ../scss/styleguide.scss */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #f0c674;
}

/* Tomorrow Green */
/* line 122, ../scss/styleguide.scss */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #b5bd68;
}

/* Tomorrow Aqua */
/* line 132, ../scss/styleguide.scss */
.hljs-title,
.css .hljs-hexcolor {
  color: #8abeb7;
}

/* Tomorrow Blue */
/* line 138, ../scss/styleguide.scss */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #81a2be;
}

/* Tomorrow Purple */
/* line 150, ../scss/styleguide.scss */
.hljs-keyword,
.javascript .hljs-function {
  color: #b294bb;
}

/* line 155, ../scss/styleguide.scss */
.hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

/* line 164, ../scss/styleguide.scss */
.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
