/*$button-border-width: 3px;*/
/*$button-border-style: solid;*/
#change-view dd {
  cursor: pointer; }

#style-guide {
  transition: width 0.8s;
  width: auto; }
  #style-guide.small-view {
    width: 380px; }
  #style-guide.medium-view {
    width: 680px; }
  #style-guide.large-view {
    width: 1024px; }
  #style-guide.auto-view {
    width: auto; }
  #style-guide .panel {
    padding-bottom: 0; }
  #style-guide section {
    margin: 3.75rem 0;
    clear: both; }

.side-nav {
  background: #EEEEEE;
  padding: 1.875rem; }

h6.label {
  display: block;
  margin-left: -20px;
  margin-right: -20px;
  text-align: left;
  background-color: #ffecd2; }

.panel {
  background-color: #F9F9F9;
  border-color: #EEEEEE; }

.panel.white {
  background-color: #FFF; }

.panel > h6.label:first-child {
  margin-top: -20px; }

.panel pre {
  margin: -21px; }

.panel .paint-chip:last-child {
  margin-bottom: 10px; }

.paint-chip {
  width: 24.5%;
  height: 160px;
  display: inline-block;
  position: relative;
  margin: 10px 0;
  border: 1px solid #EEEEEE; }
  .paint-chip .color-deets {
    padding: 0 5px;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #EEEEEE;
    border-top: 1px solid #DDDDDD; }
    .paint-chip .color-deets p {
      margin: 2px 0;
      font-size: 0.75rem;
      font-family: Consolas, "Liberation Mono", Courier, monospace; }

.fa-external-link {
  font-size: 70%;
  vertical-align: super; }

i.fa-link {
  color: #ce4d28; }

label[for="code-snippet"] {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px; }
  label[for="code-snippet"] i {
    font-size: 150%;
    position: absolute;
    left: 0;
    top: 2px;
    /*font-size: 150%;*/
    /*color: white;*/
    /*background-color: $orange;*/
    /*padding: 5px;*/ }

/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment {
  color: #969896; }

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #cc6666; }

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #de935f; }

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #f0c674; }

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #b5bd68; }

/* Tomorrow Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #8abeb7; }

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #81a2be; }

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #b294bb; }

.hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
  -webkit-text-size-adjust: none; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5; }
